.navbar-nav .dropdown-menu {
  background-color: #f8f9fa;
}

.navbar-nav .dropdown-item {
  color: #007bff;
}

.navbar-nav .dropdown-item:hover {
  background-color: #e9ecef;
}
p {
    text-align: justify;
}
/* styles.css */

/* Set default font for the body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; /* Base font size */
}

/* Headings styles */
h1 {
    font-size: 2em; /* 32px if base font size is 16px */
}

h2 {
    font-size: 1.5em; /* 24px */
}

h3 {
    font-size: 1.17em; /* 18.7px */
}

h4 {
    font-size: 1em; /* 16px */
}

h5 {
    font-size: 0.83em; /* 13.3px */
}

h6 {
    font-size: 0.67em; /* 10.7px */
}

/* Links and buttons */
a {
    font-size: 20px; /* Adjust as needed */
}

button {
    font-size: 18px; /* Adjust as needed */
}


/* styles.css */

/* Increase font size for the top menu items */
.navbar-nav li a {
    font-size: 20px; /* Adjust the font size as needed */
}

/* Optional: Increase font size for the navbar brand (site title) */
.navbar-brand {
    font-size: 24px; /* Adjust the font size as needed */
}
/* styles.css */

